<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
    <key>CFBundleDisplayName</key><string>Haloscope</string>
    <key>CFBundleExecutable</key><string>Haloscope</string>
    <key>CFBundleIdentifier</key><string>com.lamluo.haloscope</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>Haloscope</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>0.2.0</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>HaloscopeAppGroupIdentifier</key><string>$(HALOSCOPE_APP_GROUP_IDENTIFIER)</string>
    <key>HaloscopeKeychainAccessGroup</key><string>$(AppIdentifierPrefix)$(HALOSCOPE_KEYCHAIN_GROUP_SUFFIX)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key><string>com.lamluo.haloscope</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>haloscope-widget</string>
                <string>haloscope</string>
                <string>codexisland</string>
            </array>
        </dict>
    </array>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSMultipleInstancesProhibited</key><true/>
    <key>LSUIElement</key><true/>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
</dict>
</plist>
